examples/exampleAccountUpdateFlow.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <interviewLabel>Generated Flow</interviewLabel>
    <label>Generated Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>node_0</targetReference>
        </connector>
    </start>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <assignments>
        <name>accountName</name>
        <locationX>100</locationX>
        <locationY>150</locationY>
        <assignmentItems>
            <assignToReference>accountName</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>{!$Record.Name;}</elementReference></value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>accountType</name>
        <locationX>300</locationX>
        <locationY>150</locationY>
        <assignmentItems>
            <assignToReference>accountType</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>{!$Record.Type;}</elementReference></value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision</name>
        <locationX>500</locationX>
        <locationY>150</locationY>
        <defaultConnector>
            <targetReference>END</targetReference>
        </defaultConnector>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>[object Object]</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><stringValue>Customer</stringValue></rightValue>
            </conditions>
        </rules>
    </decisions>
    <assignments>
        <name>newName</name>
        <locationX>700</locationX>
        <locationY>150</locationY>
        <assignmentItems>
            <assignToReference>newName</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>accountName + " - Premium Customer";</stringValue></value>
        </assignmentItems>
    </assignments>
    <recordUpdates>
        <name>Update_Record</name>
        <locationX>900</locationX>
        <locationY>150</locationY>
        <object>"Account"</object>
        <inputReference>$Record.Id</inputReference>
    </recordUpdates>
</Flow>